* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

:root {
	--primary-color: #4a90e2;
	--secondary-color: #f5f5f5;
	--secondary-color-trans: rgba(0, 0, 0, 0.6);
	--text-color: #f5f5f5;
	--text-color-dark: #333;
	--font-size: 62.5%;
	--line-height: 1.5;

	/* Alternative */
	--behance-color: #00a0dc;
	--dribbble-color: #e94e77;
}

body {
	background-color: var(--secondary-color);
	color: var(--text-color-dark);
	font-size: var(--font-size);
	line-height: var(--line-height);
}

a {
	color: white;
	text-decoration: none;
	font-size: 1.2rem;
}

a:hover {
	text-decoration: underline;
}

ul {
	list-style: none;
}

.section-padding {
	padding: 10rem 5rem;
}
